# --------------------------------------------------
# PACKAGE
# --------------------------------------------------

# Folders
/build/
/temp/

# Python
*.pyc
*.pyo


# --------------------------------------------------
# MAC OS
# --------------------------------------------------

._*
.AppleDouble
.LSOverride
*.DS_Store


# --------------------------------------------------
# WINDOWS
# --------------------------------------------------

Thumbs.db
thumbs.db

*.cab
*.msi
*.msm
*.msp

*.lnk
